<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Das U-Boot Environment [OpenWrt Wiki]</title>
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <meta name="generator" content="DokuWiki"/>
<meta name="robots" content="index,follow"/>
<meta name="keywords" content="doc,techref,bootloader,uboot.config"/>
<link rel="search" type="application/opensearchdescription+xml" href="../../../lib/exe/opensearch.php" title="OpenWrt Wiki"/>
<link rel="start" href="../../../index.html"/>
<link rel="contents" href="uboot.config?do=index" title="Sitemap"/>
<link rel="alternate" type="application/rss+xml" title="Recent changes" href="../../../feed.php"/>
<link rel="alternate" type="application/rss+xml" title="Current namespace" href="../../../feed.php?mode=list&amp;ns=doc:techref:bootloader"/>
<link rel="alternate" type="text/html" title="Plain HTML" href="../../../_export/xhtml/doc/techref/bootloader/uboot.config"/>
<link rel="alternate" type="text/plain" title="Wiki Markup" href="../../../_export/raw/doc/techref/bootloader/uboot.config"/>
<link rel="canonical" href="uboot.config"/>
<link rel="stylesheet" type="text/css" href="../../../lib/exe/css.php?t=openwrt&amp;tseed=6f44f363dc87908d905dc56ff3acbfc4"/>
<script type="text/javascript">/*<![CDATA[*/var NS='doc:techref:bootloader';var JSINFO = {"id":"doc:techref:bootloader:uboot.config","namespace":"doc:techref:bootloader"};
/*!]]>*/</script>
<script type="text/javascript" charset="utf-8" src="../../../lib/exe/js.php?tseed=6f44f363dc87908d905dc56ff3acbfc4"></script>
<script type="text/javascript" charset="utf-8">/*<![CDATA[*/jQuery(function(){
	for ( i=0; i < document.forms.length; i++ ) {
		if (document.forms[i].method == 'post') {
			var myElement = document.createElement('input');
			myElement.setAttribute('type', 'hidden');
			myElement.name = 'bb2_screener_';
			myElement.value = '1432266668 166.182.3.103';
			document.forms[i].appendChild(myElement);
		}
	}
});
/*!]]>*/</script>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="../../../lib/tpl/openwrt/images/favicon.ico" />
<link rel="apple-touch-icon" href="../../../lib/tpl/openwrt/images/apple-touch-icon.png" />
    </head>

<body>
    <!--[if lte IE 7 ]><div id="IE7"><![endif]--><!--[if IE 8 ]><div id="IE8"><![endif]-->
    <div id="dokuwiki__site"><div id="dokuwiki__top" class="site dokuwiki mode_show tpl_openwrt     ">

        
<!-- ********** HEADER ********** -->
<div id="dokuwiki__header"><div class="pad group">

    
    <div class="headings group">
        <ul class="a11y skip">
            <li><a href="uboot.config#dokuwiki__content">skip to content</a></li>
        </ul>

        <h1><a href="../../../start"  accesskey="h" title="[H]"><img src="../../../lib/tpl/openwrt/images/logo.png" width="386" height="98" alt="" /> <span>OpenWrt Wiki</span></a></h1>
            </div>

    <div class="tools group">
        <!-- USER TOOLS -->
                    <div id="dokuwiki__usertools">
                <h3 class="a11y">User Tools</h3>
                <ul>
                    <li><a href="uboot.config?do=register"  class="action register" rel="nofollow" title="Register">Register</a></li><li><a href="uboot.config?do=login&amp;sectok=382740b13d95f946eed36caa57076b4a"  class="action login" rel="nofollow" title="Login">Login</a></li>                </ul>
            </div>
        
        <!-- SITE TOOLS -->
        <div id="dokuwiki__sitetools">
            <h3 class="a11y">Site Tools</h3>
            <form action="../../../start" accept-charset="utf-8" class="search" id="dw__search" method="get" role="search"><div class="no"><input type="hidden" name="do" value="search" /><input type="text" id="qsearch__in" accesskey="f" name="id" class="edit" title="[F]" /><input type="submit" value="Search" class="button" title="Search" /><div id="qsearch__out" class="ajax_qsearch JSpopup"></div></div></form>            <div class="mobileTools">
                <form action="../../../doku.php" method="get" accept-charset="utf-8"><div class="no"><input type="hidden" name="id" value="doc:techref:bootloader:uboot.config" /><select name="do" class="edit quickselect" title="Tools"><option value="">Tools</option><optgroup label="Page Tools"><option value="edit">Show pagesource</option><option value="revisions">Old revisions</option><option value="backlink">Backlinks</option></optgroup><optgroup label="Site Tools"><option value="recent">Recent changes</option><option value="media">Media Manager</option><option value="index">Sitemap</option></optgroup><optgroup label="User Tools"><option value="login">Login</option><option value="register">Register</option></optgroup></select><input type="submit" value="&gt;" /></div></form>            </div>
            <ul>
                <li><a href="uboot.config?do=recent"  class="action recent" accesskey="r" rel="nofollow" title="Recent changes [R]">Recent changes</a></li><li><a href="uboot.config?do=media&amp;ns=doc%253Atechref%253Abootloader"  class="action media" rel="nofollow" title="Media Manager">Media Manager</a></li><li><a href="uboot.config?do=index"  class="action index" accesskey="x" rel="nofollow" title="Sitemap [X]">Sitemap</a></li>            </ul>
        </div>

    </div>

    <!-- BREADCRUMBS -->
            <div class="breadcrumbs">
                            <div class="youarehere"><span class="bchead">You are here: </span><span class="home"><bdi><a href="../../../start" class="wikilink1" title="start">OpenWrt Wiki</a></bdi></span> » <bdi><a href="../../start" class="wikilink1" title="doc:start">Documentation</a></bdi> » <bdi><a href="../../techref.1" class="wikilink1" title="doc:techref:start">Technical Reference</a></bdi> » <bdi><a href="../bootloader.1" class="wikilink1" title="doc:techref:bootloader">The Bootloader</a></bdi> » <bdi><span class="curid"><a href="uboot.config" class="wikilink1" title="doc:techref:bootloader:uboot.config">Das U-Boot Environment</a></span></bdi></div>
                                    <div class="plugin_multilingual">
        <ul>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/cz/doc/techref/bootloader/uboot.config" class="media" title="cz:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=aff589&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fcz.gif" class="media" title="Čeština (Czech)" alt="Čeština (Czech)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/de/doc/techref/bootloader/uboot.config" class="media" title="de:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=e24010&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fde.gif" class="media" title="Deutsch (German)" alt="Deutsch (German)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <span class="curid"><a href="uboot.config" class="media" title="doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=2a37ae&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fgb.gif" class="media" title="English" alt="English" /></a></span>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/es/doc/techref/bootloader/uboot.config" class="media" title="es:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=46c004&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fmx.gif" class="media" title="Español (Spanish, Mexico)" alt="Español (Spanish, Mexico)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/fr/doc/techref/bootloader/uboot.config" class="media" title="fr:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=a5beba&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Ffr.gif" class="media" title="Français (French)" alt="Français (French)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/hu/doc/techref/bootloader/uboot.config" class="media" title="hu:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=6b5470&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fhu.gif" class="media" title="Magyar (Hungarian)" alt="Magyar (Hungarian)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/jp/doc/techref/bootloader/uboot.config" class="media" title="jp:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=f999fc&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fjp.gif" class="media" title="日本語 (Japanese)" alt="日本語 (Japanese)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/pl/doc/techref/bootloader/uboot.config" class="media" title="pl:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=c805c0&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fpl.gif" class="media" title="Poliski (Polish)" alt="Poliski (Polish)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/pt-br/doc/techref/bootloader/uboot.config" class="media" title="pt-br:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=13127d&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fbr.gif" class="media" title="Português brasileiro (Portuguese, Brasil)" alt="Português brasileiro (Portuguese, Brasil)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/ru/doc/techref/bootloader/uboot.config" class="media" title="ru:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=66ab5e&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fru.gif" class="media" title="Русский (Russsian)" alt="Русский (Russsian)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/tr/doc/techref/bootloader/uboot.config" class="media" title="tr:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=f4beed&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Ftr.gif" class="media" title="Tϋrkçe (Turkish)" alt="Tϋrkçe (Turkish)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/zh-cn/doc/techref/bootloader/uboot.config" class="media" title="zh-cn:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=93625a&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fzh-cn.gif" class="media" title="官話/官话 (Chinese)" alt="官話/官话 (Chinese)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/zh-tw/doc/techref/bootloader/uboot.config" class="media" title="zh-tw:doc:techref:bootloader:uboot.config"><img src="../../../lib/exe/fetch.php?cache=&amp;tok=b56198&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fzh-tw.gif" class="media" title="臺灣華語 (Taiwanese)" alt="臺灣華語 (Taiwanese)" /></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
        </div>
    
    
    <hr class="a11y" />
</div></div><!-- /header -->

        <div class="wrapper group">

            
            <!-- ********** CONTENT ********** -->
            <div id="dokuwiki__content"><div class="pad group">

                <div class="pageId"><span>doc:techref:bootloader:uboot.config</span></div>

                <div class="page group">
                                                            <!-- wikipage start -->
                    <!-- TOC START -->
<div id="dw__toc">
<h3 class="toggle">Table of Contents</h3>
<div>

<ul class="toc">
<li class="level1"><div class="li"><a href="uboot.config#common_variables">Common variables</a></div></li>
<li class="level1"><div class="li"><a href="uboot.config#accessing_u-boot_environment_variables_in_serial_console">Accessing U-Boot environment variables in Serial Console</a></div>
<ul class="toc">
<li class="level2"><div class="li"><a href="uboot.config#examining_env_var_in_u-boot">Examining env var in U-Boot</a></div></li>
<li class="level2"><div class="li"><a href="uboot.config#setting_env_var_in_u-boot">Setting env var in U-Boot</a></div></li>
<li class="level2"><div class="li"><a href="uboot.config#removing_an_env_var_in_u-boot">Removing an env var in U-Boot</a></div></li>
</ul>
</li>
<li class="level1"><div class="li"><a href="uboot.config#accessing_u-boot_environment_variables_in_net_console">Accessing U-Boot environment variables in Net Console</a></div></li>
<li class="level1"><div class="li"><a href="uboot.config#accessing_u-boot_environment_variables_in_openwrt">Accessing U-Boot environment variables in OpenWrt</a></div>
<ul class="toc">
<li class="level2"><div class="li"><a href="uboot.config#determine_config_env_offset_and_config_env_size">Determine CONFIG_ENV_OFFSET and CONFIG_ENV_SIZE</a></div></li>
<li class="level2"><div class="li"><a href="uboot.config#examining_env_var_from_openwrt">Examining env var from OpenWrt</a></div></li>
<li class="level2"><div class="li"><a href="uboot.config#setting_env_var_from_openwrt">Setting env var from OpenWrt</a></div></li>
</ul></li>
</ul>
</div>
</div>
<!-- TOC END -->

<h1 class="sectionedit1" id="das_u-boot_environment">Das U-Boot Environment</h1>
<div class="level1">

<p>
Das U-Boot uses a small amount of space on the flash storage usually on the same partition it is stored on to store some important configuration parameters. This can hardly be compared to NVRAM/TFFS-approach of other bootloaders. It is called the <em>u-boot environment</em>. It stores some values like the IP address of the TFTP server (on your PC) to which the the TFTP client (part of U-Boot) will try to connect, etc.
</p>

<p>
You can read and write these values when you are connected to the <em>U-Boot console</em> via <a href="../../../OpenWrtDocs/Customizing/Hardware/Serial_Console" class="wikilink1" title="doc:hardware:port.serial">Serial Port</a> and also from the CLI once you booted OpenWrt.
</p>

<p>
One of the huge advantages of <a href="uboot" class="wikilink1" title="doc:techref:bootloader:uboot">Das U-Boot</a> is it&#039;s ability for run time configuration. This flexibility is based on being able to easily change environment variables. The environment is usually at the end of the uboot <a href="../flash.layout" class="wikilink1" title="doc:techref:flash.layout">partition</a>. The <em>environment variables</em> are set up in a board specific file, e.g. <code><a href="https://dev.openwrt.org/browser/trunk/package/uboot-ar71xx/files/include/configs/nbg460n.h" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/uboot-ar71xx/files/include/configs/nbg460n.h"  rel="nofollow">package/uboot-ar71xx/files/include/configs/nbg460n.h</a></code> for the <a href="../../../toh/zyxel/nbg460n" class="wikilink1" title="toh:zyxel:nbg460n">Zyxel NBG 460N/550N/550NH</a>.
</p>

<p>
The location on the flash partition is predefined:
</p>

<p>
<pre class="code">#define CONFIG_ENV_OFFSET                 0x0000
#define CONFIG_ENV_SIZE                   0x2000</pre>

</p>

<p>
and copied to RAM when U-Boot starts.
</p>
<div class="table sectionedit2"><table class="inline">
	<tr class="row0">
		<td class="col0"> <img src="../../../_media/meta/icons/tango/dialog-information.png" class="media" alt="" /> </td><td class="col1 leftalign"> The U-Boot Environment is protected by a <a href="http://en.wikipedia.org/wiki/Cyclic redundancy check" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/Cyclic redundancy check">CRC32</a> checksum. <br/>
See <a href="http://www.denx.de/wiki/view/DULG/WarningBadCRCUsingDefaultEnvironment" class="urlextern" title="http://www.denx.de/wiki/view/DULG/WarningBadCRCUsingDefaultEnvironment"  rel="nofollow">** Warning - bad CRC, using default environment</a>  </td>
	</tr>
</table></div>

</div>

<h2 class="sectionedit3" id="common_variables">Common variables</h2>
<div class="level2">

<p>
→ <a href="http://www.denx.de/wiki/view/DULG/UBootEnvVariables" class="urlextern" title="http://www.denx.de/wiki/view/DULG/UBootEnvVariables"  rel="nofollow">http://www.denx.de/wiki/view/DULG/UBootEnvVariables</a><br/>

This lists the most important environment variables, all of which have a special meaning to U-Boot. 
</p>
<div class="table sectionedit4"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0"> <code>Variable</code> </th><th class="col1 leftalign"> Description  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0"> <code>autoload</code> </td><td class="col1 leftalign"> if set to <code>no</code> (or any string beginning with &#039;n&#039;), the <code>rarpb</code>, <code>bootp</code> or <code>dhcp</code> commands will perform only a configuration lookup from the BOOTP / DHCP server, but not try to load any image using <a href="http://en.wikipedia.org/wiki/Trivial File Transfer Protocol" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/Trivial File Transfer Protocol">TFTP</a>.  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> <code>autostart</code> </td><td class="col1 leftalign"> if set to <code>yes</code>, an image loaded using the <code>rarpb</code>, <code>bootp</code>, <code>dhcp</code>, <code>tftp</code>, <code>disk</code>, or <code>docb</code> commands will be automatically started (by internally calling the <code>bootm</code> command).  </td>
	</tr>
	<tr class="row3">
		<td class="col0"> <code>baudrate</code> </td><td class="col1 leftalign"> a decimal number that selects the console baudrate (in bps).  </td>
	</tr>
	<tr class="row4">
		<td class="col0"> <code>bootargs</code> </td><td class="col1 leftalign"> The contents of this variable are passed to the Linux kernel as boot arguments (aka &quot;command line&quot;).  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> <code>bootcmd</code> </td><td class="col1 leftalign"> This variable defines a command string that is automatically executed when the initial countdown is not interrupted. This command is only executed when the variable bootdelay is also defined!  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> <code>bootdelay</code> </td><td class="col1 leftalign"> After reset, U-Boot will wait this number of seconds before it executes the contents of the bootcmd variable. During this time a countdown is printed, which can be interrupted by pressing any key. <br/>
Set this variable to 0 boot without delay. Be careful: depending on the contents of your <code>bootcmd</code> variable, this can prevent you from entering interactive commands again forever! <br/>
Set this variable to -1 to disable autoboot.  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> <code>bootfile</code> </td><td class="col1 leftalign"> name of the default image to load with TFTP  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> <code>ethaddr</code> </td><td class="col1 leftalign"> Ethernet MAC address for first/only ethernet interface (<code>eth0</code> in Linux). <br/>
This variable can be set only once (usually during manufacturing of the board). U-Boot refuses to delete or overwrite this variable once it has been set.  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> <code>ipaddr</code> </td><td class="col1 leftalign"> IP address; needed for <code>tftp</code> command  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> <code>loadaddr</code> </td><td class="col1 leftalign"> Default load address for commands like <code>tftp</code> or <code>loads</code>  </td>
	</tr>
	<tr class="row11">
		<td class="col0"> <code>serverip</code> </td><td class="col1 leftalign"> TFTP server IP address; needed for <code>tftp</code> command.  </td>
	</tr>
	<tr class="row12">
		<td class="col0"> <code>silent</code> </td><td class="col1 leftalign"> If the configuration option <code>CONFIG_SILENT_CONSOLE</code> has been enabled for your board, setting this variable to any value will suppress all console messages. Please see <a href="http://wiki.openwrt.org/silent_booting" class="wikilink2" title="silent_booting" rel="nofollow">silent_booting</a> for details.  </td>
	</tr>
	<tr class="row13">
		<td class="col0"> <code>verify</code> </td><td class="col1 leftalign"> If set to <code>n</code> or <code>no</code> disables the checksum calculation over the complete image in the <code>bootm</code> command to trade speed for safety in the boot process. Note that the header checksum is still verified.  </td>
	</tr>
</table></div>

</div>

<h2 class="sectionedit5" id="accessing_u-boot_environment_variables_in_serial_console">Accessing U-Boot environment variables in Serial Console</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> <a href="../../../OpenWrtDocs/Customizing/Hardware/Serial_Console" class="wikilink1" title="doc:hardware:port.serial">Serial Console</a></div>
</li>
<li class="level1"><div class="li"> → <a href="http://www.denx.de/wiki/view/DULG/UBoot" class="urlextern" title="http://www.denx.de/wiki/view/DULG/UBoot"  rel="nofollow">http://www.denx.de/wiki/view/DULG/UBoot</a><br/>
</div>
<ul>
<li class="level2"><div class="li"> → <a href="http://www.denx.de/wiki/view/DULG/UBootCommandLineInterface" class="urlextern" title="http://www.denx.de/wiki/view/DULG/UBootCommandLineInterface"  rel="nofollow">5.9. U-Boot Command Line Interface</a></div>
</li>
</ul>
</li>
</ul>

</div>

<h3 class="sectionedit6" id="examining_env_var_in_u-boot">Examining env var in U-Boot</h3>
<div class="level3">

<p>
<pre class="code bash">printenv ipaddr <span class="kw2">hostname</span> netmask
<span class="re2">ipaddr</span>=192.168.0.2
<span class="re2">hostname</span>=openwrt
<span class="re2">netmask</span>=255.255.255.0
print bootdelay
<span class="re2">bootdelay</span>=<span class="nu0">1</span>
print serverip
<span class="re2">serverip</span>=192.168.0.5</pre>

</p>

</div>

<h3 class="sectionedit7" id="setting_env_var_in_u-boot">Setting env var in U-Boot</h3>
<div class="level3">

<p>
<pre class="code bash"><span class="kw1">set</span> bootcmd <span class="st_h">'tftp 0x1000000 uImage548; bootm'</span>
<span class="kw1">set</span> ipaddr 176.16.15.14
print ipaddr
<span class="re2">ipaddr</span>=176.16.15.14
dhcp
start Auto negotiation... <span class="br0">&#40;</span>take ~2sec<span class="br0">&#41;</span>
Auto negotiation <span class="kw3">complete</span>, 1000BaseT, full duplex
BOOTP broadcast <span class="nu0">1</span>
DHCP client bound to address 176.16.15.14
print serverip
<span class="re2">serverip</span>=176.16.15.1
<span class="kw1">set</span> serverip 176.16.15.254</pre>

</p>

</div>

<h3 class="sectionedit8" id="removing_an_env_var_in_u-boot">Removing an env var in U-Boot</h3>
<div class="level3">

<p>
<pre class="code bash"><span class="kw1">set</span> foo <span class="st_h">'tftp 0x1000000 uImage123; bootm'</span>
print foo
tftp 0x1000000 uImage123; bootm
<span class="kw1">set</span> foo
print foo
<span class="co0">## Error: &quot;foo&quot; not defined</span></pre>

</p>

</div>

<h2 class="sectionedit9" id="accessing_u-boot_environment_variables_in_net_console">Accessing U-Boot environment variables in Net Console</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> <img src="../../../lib/images/smileys/fixme.gif" class="icon" alt="FIXME" />  → <a href="https://forum.openwrt.org/viewtopic.php?pid=142707#p142707" class="urlextern" title="https://forum.openwrt.org/viewtopic.php?pid=142707#p142707"  rel="nofollow">https://forum.openwrt.org/viewtopic.php?pid=142707#p142707</a></div>
</li>
</ul>

</div>

<h2 class="sectionedit10" id="accessing_u-boot_environment_variables_in_openwrt">Accessing U-Boot environment variables in OpenWrt</h2>
<div class="level2">

<p>
<img src="../../../lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /> <a href="http://www.denx.de/wiki/view/DULG/UBootCmdGroupEnvironment" class="urlextern" title="http://www.denx.de/wiki/view/DULG/UBootCmdGroupEnvironment"  rel="nofollow">All changes you make to the U-Boot environment are made in RAM only</a>! If you want to additionally make your changes permanent you have to use the <code>saveenv</code> command to write a copy of the environment settings from RAM to persistent storage. The <code>saveenv</code> command is not available in the <code><a href="../opkg" class="wikilink1" title="doc:techref:opkg">opkg</a></code>-package <code>uboot-envtools</code>, also, the bootloader partition will likely be mounted read-only. An example on how to change this, is here: <a href="../../../toh/tp-link/tl-wr1043nd#makingbootloaderpartitionwritable" class="wikilink1" title="toh:tp-link:tl-wr1043nd">making.bootloader.partition.writable</a>
</p>
<div class="table sectionedit11"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0"> Package </th><th class="col1"> Version </th><th class="col2"> Depends </th><th class="col3"> Size </th><th class="col4 leftalign"> Description  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> uboot-envtools  </td><td class="col1 centeralign">  20081215-2  </td><td class="col2 leftalign"> zlib  </td><td class="col3 rightalign">   7843 </td><td class="col4 leftalign"> This package includes tools to read (<code>fw_printenv</code>) and modify (<code>fw_setenv</code>) U-Boot bootloader environment.  </td>
	</tr>
</table></div>

<p>
You need to install and configure <code>uboot-envtools</code>:
<pre class="code">opkg install uboot-envtools
vi /etc/fw_env.config</pre>

</p>

<p>
<pre class="code bash"><span class="co0"># Configuration file for fw_(printenv/saveenv) utility.</span>
<span class="co0"># Up to two entries are valid, in this case the redundant</span>
<span class="co0"># environment sector is assumed present.</span>
<span class="co0"># Notice, that the &quot;Number of sectors&quot; is ignored on NOR and SPI-dataflash.</span>
<span class="co0"># Futhermore, if the Flash sector size is ommitted, this value is assumed to</span>
<span class="co0"># be the same as the Environment size, which is valid for NOR and SPI-dataflash</span>
&nbsp;
<span class="co0"># NOR example</span>
<span class="co0"># MTD device name	Device offset	Env. size	Flash sector size	Number of sectors</span>
<span class="sy0">/</span>dev<span class="sy0">/</span>mtd1		0x0000		0x4000		0x4000
<span class="sy0">/</span>dev<span class="sy0">/</span>mtd2		0x0000		0x4000		0x4000
&nbsp;
<span class="co0"># MTD SPI-dataflash example</span>
<span class="co0"># MTD device name	Device offset	Env. size	Flash sector size	Number of sectors</span>
<span class="co0">#/dev/mtd5		0x4200		0x4200</span>
<span class="co0">#/dev/mtd6		0x4200		0x4200</span>
&nbsp;
<span class="co0"># NAND example</span>
<span class="co0">#/dev/mtd0		0x4000		0x4000		0x20000			2</span></pre>

</p>

<p>
Expect that the environment address is a multiple of the block size. Please read the documentation file in the U-boot Source Code: <a href="http://git.denx.de/?p=u-boot.git;a=blob_plain;f=tools/env/README;hb=HEAD" class="urlextern" title="http://git.denx.de/?p=u-boot.git;a=blob_plain;f=tools/env/README;hb=HEAD"  rel="nofollow">/tools/env/README</a>
</p>

</div>

<h3 class="sectionedit12" id="determine_config_env_offset_and_config_env_size">Determine CONFIG_ENV_OFFSET and CONFIG_ENV_SIZE</h3>
<div class="level3">
<div class="table sectionedit13"><table class="inline">
	<tr class="row0">
		<td class="col0"> <img src="../../../lib/images/smileys/fixme.gif" class="icon" alt="FIXME" /> <img src="../../../lib/images/smileys/fixme.gif" class="icon" alt="FIXME" /> </td>
	</tr>
</table></div>

<p>
In case of the WR1043ND, I was &quot;lucky&quot; in the file: <code>include/configs/ap83.h</code> (in Source Code, obtain from manufacturer). I found following values:
<pre class="code">/*-----------------------------------------------------------------------
 * FLASH and environment organization
 */
#define CFG_MAX_FLASH_BANKS     1	    /* max number of memory banks */
//#define CFG_MAX_FLASH_SECT      128    /* max number of sectors on one chip */
#define CFG_MAX_FLASH_SECT      256    /* max number of sectors on one chip */
#define CFG_FLASH_SECTOR_SIZE   (64*1024)
#define CFG_FLASH_SIZE          0x00800000 /* Total flash size */

#define CFG_FLASH_WORD_SIZE     unsigned short 
#define CFG_FLASH_ADDR0         (0x5555)   /* 1st address for flash config cycles  */
#define CFG_FLASH_ADDR1         (0x2AAA)   /* 2nd address for flash config cycles  */

#define CFG_HOWL_1_2 1</pre>

Maybe due to the historic version of uboot, the variable names are different.
<pre class="code">Cannot parse config file: Invalid argument</pre>

</p>

<p>
Useful offset information can also be found by running dmesg on your device. This is taken from a modified WT3020:
</p>

<p>
<pre class="code">[    0.400000] 0x000000000000-0x000000030000 : &quot;u-boot&quot;
[    0.420000] 0x000000030000-0x000000040000 : &quot;u-boot-env&quot;
[    0.430000] 0x000000040000-0x000000050000 : &quot;factory&quot;
[    0.440000] 0x000000050000-0x000001000000 : &quot;firmware&quot;
[    0.480000] 0x00000015db2b-0x000001000000 : &quot;rootfs&quot;
[    0.540000] 0x000000500000-0x000001000000 : &quot;rootfs_data&quot;</pre>

</p>

<p>
and also from /proc/mtd. Example below.
</p>

<p>
<pre class="code">cat /proc/mtd
dev:    size   erasesize  name
mtd0: 00030000 00010000 &quot;u-boot&quot;
mtd1: 00010000 00010000 &quot;u-boot-env&quot;
mtd2: 00010000 00010000 &quot;factory&quot;
mtd3: 00fb0000 00010000 &quot;firmware&quot;
mtd4: 00ea24d5 00010000 &quot;rootfs&quot;
mtd5: 00b00000 00010000 &quot;rootfs_data&quot;</pre>

</p>

</div>

<h3 class="sectionedit14" id="examining_env_var_from_openwrt">Examining env var from OpenWrt</h3>
<div class="level3">

<p>
Example:
<pre class="code bash"><span class="co4">root@openwrt:~# </span>fw_printenv
<span class="re2">baudrate</span>=<span class="nu0">115200</span>
<span class="re2">loads_echo</span>=<span class="nu0">0</span>
<span class="re2">ipaddr</span>=169.254.123.123
<span class="re2">serverip</span>=169.254.254.254
<span class="re2">rootpath</span>=<span class="sy0">/</span>mnt<span class="sy0">/</span>ARM_FS<span class="sy0">/</span>
<span class="re2">netmask</span>=255.255.0.0
<span class="re2">run_diag</span>=<span class="kw2">yes</span>
<span class="re2">console</span>=<span class="re2">console</span>=ttyS0,<span class="nu0">115200</span>
<span class="re2">CASset</span>=min
<span class="re2">MALLOC_len</span>=<span class="nu0">1</span>
<span class="re2">ethprime</span>=egiga0
<span class="re2">bootargs_root</span>=<span class="re2">root</span>=<span class="sy0">/</span>dev<span class="sy0">/</span>mtdblock2 ro
<span class="re2">ethmtu</span>=<span class="nu0">1500</span>
<span class="re2">usb0Mode</span>=host
<span class="re2">nandEcc</span>=1bit
<span class="re2">ethact</span>=egiga0
<span class="re2">ethaddr</span>=00:<span class="nu0">10</span>:<span class="nu0">75</span>:xx:xx:xx
<span class="re2">cesvcid</span>=6UQX37NNJL85RGNQ5RKCBM5DDN
<span class="re2">ceserialno</span>=2GEP09HS
<span class="re2">ceboardver</span>=REDSTONE:<span class="nu0">1.0</span>
<span class="re2">bootcmd</span>=nand read.e 0x800000 0x100000 0x300000; setenv bootargs $<span class="br0">&#40;</span>console<span class="br0">&#41;</span> $<span class="br0">&#40;</span>bootargs_root<span class="br0">&#41;</span>; bootm 0x800000
<span class="re2">arcNumber</span>=<span class="nu0">2097</span>
<span class="re2">stdin</span>=serial
<span class="re2">stdout</span>=serial
<span class="re2">stderr</span>=serial
<span class="re2">mainlineLinux</span>=<span class="kw2">yes</span>
<span class="re2">enaMonExt</span>=no
<span class="re2">enaCpuStream</span>=no
<span class="re2">enaWrAllo</span>=no
<span class="re2">pexMode</span>=RC
<span class="re2">disL2Cache</span>=no
<span class="re2">setL2CacheWT</span>=<span class="kw2">yes</span>
<span class="re2">disL2Prefetch</span>=<span class="kw2">yes</span>
<span class="re2">enaICPref</span>=<span class="kw2">yes</span>
<span class="re2">enaDCPref</span>=<span class="kw2">yes</span>
<span class="re2">sata_dma_mode</span>=<span class="kw2">yes</span>
<span class="re2">netbsd_en</span>=no
<span class="re2">vxworks_en</span>=no
<span class="re2">bootdelay</span>=<span class="nu0">3</span>
<span class="re2">disaMvPnp</span>=no
Environment size: <span class="nu0">778</span><span class="sy0">/</span><span class="nu0">131068</span> bytes</pre>

</p>

<p>
In above example the boot partition is 2x64KiB ins size, but the booloader console only reports 131068 Bytes which is 4 Bytes short. How can this be? This could be CRC32 value. Furthermore we see, the environment occupies 778Bytes! Now we guess, the environment is located at the end of the partition and the CRC32 is again behind it. So it&#039;s offset should be, hmm, hmm, 131.068-778=130.290 and minus 1 because we count the zeros = 130.289 in hex 0x0001FCF1.
Let&#039;s do a <a href="../../howto/generic.backup" class="wikilink1" title="doc:howto:generic.backup">backup</a> and look at the content of the whole partition with help of a <a href="http://en.wikipedia.org/wiki/hex editor" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/hex editor">hex editor</a>. The assumption was obviously wrong. At the end, there is only FF data at the end.
</p>
<ul>
<li class="level1"><div class="li"> <code><a href="http://git.denx.de/?p=u-boot.git;a=blob_plain;f=tools/env/README;hb=HEAD" class="urlextern" title="http://git.denx.de/?p=u-boot.git;a=blob_plain;f=tools/env/README;hb=HEAD"  rel="nofollow">/uboot.source.code/tools/env/README</a></code></div>
</li>
<li class="level1"><div class="li"> <a href="http://plugcomputer.org/plugforum/index.php?PHPSESSID=6d6a1c88e56f31bea4a9d2415f1b820a&amp;topic=1290.msg8970#msg8970" class="urlextern" title="http://plugcomputer.org/plugforum/index.php?PHPSESSID=6d6a1c88e56f31bea4a9d2415f1b820a&amp;topic=1290.msg8970#msg8970"  rel="nofollow">Isues with ECC</a></div>
</li>
</ul>

</div>

<h3 class="sectionedit15" id="setting_env_var_from_openwrt">Setting env var from OpenWrt</h3>
<div class="level3">

<p>
Revert u-boot silent boot and add a bootdelay
</p>

<p>
<pre class="code bash">fw_setenv silent
Unlocking flash...
Done
Erasing old environment...
Done
Writing environment to <span class="sy0">/</span>dev<span class="sy0">/</span>mtd0...
Done
Locking ...
Done
&nbsp;
fw_setenv bootdelay <span class="nu0">1</span>
Unlocking flash...
Done
Erasing old environment...
Done
Writing environment to <span class="sy0">/</span>dev<span class="sy0">/</span>mtd0...
Done
Locking ...
Done</pre>

</p>

</div>

                    <!-- wikipage stop -->
                                    </div>

                <div class="docInfo"><bdi>doc/techref/bootloader/uboot.config.txt</bdi> · Last modified: 2015/02/19 21:57 by <bdi>pcanavan</bdi></div>

                            </div></div><!-- /content -->

            <hr class="a11y" />

            <!-- PAGE ACTIONS -->
            <div id="dokuwiki__pagetools">
                <h3 class="a11y">Page Tools</h3>
                <div class="tools">
                    <ul>
                        <li><a href="uboot.config?do=edit"  class="action source" accesskey="v" rel="nofollow" title="Show pagesource [V]"><span>Show pagesource</span></a></li><li><a href="uboot.config?do=revisions"  class="action revs" accesskey="o" rel="nofollow" title="Old revisions [O]"><span>Old revisions</span></a></li><li><a href="uboot.config?do=backlink"  class="action backlink" rel="nofollow" title="Backlinks"><span>Backlinks</span></a></li><li><a href="uboot.config#dokuwiki__top"  class="action top" accesskey="t" rel="nofollow" title="Back to top [T]"><span>Back to top</span></a></li>                    </ul>
                </div>
            </div>
        </div><!-- /wrapper -->

        
<!-- ********** FOOTER ********** -->
<div id="dokuwiki__footer"><div class="pad">
    <div class="license">Except where otherwise noted, content on this wiki is licensed under the following license: <bdi><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license" class="urlextern">CC Attribution-Noncommercial-Share Alike 3.0 Unported</a></bdi></div>
    <div class="buttons">
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license"><img src="../../../lib/images/license/button/cc-by-nc-sa.png" alt="CC Attribution-Noncommercial-Share Alike 3.0 Unported" /></a>        <a href="http://www.dokuwiki.org/donate" title="Donate" ><img
            src="../../../lib/tpl/openwrt/images/button-donate.gif" width="80" height="15" alt="Donate" /></a>
        <a href="http://www.php.net" title="Powered by PHP" ><img
            src="../../../lib/tpl/openwrt/images/button-php.gif" width="80" height="15" alt="Powered by PHP" /></a>
        <a href="http://validator.w3.org/check/referer" title="Valid HTML5" ><img
            src="../../../lib/tpl/openwrt/images/button-html5.png" width="80" height="15" alt="Valid HTML5" /></a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3" title="Valid CSS" ><img
            src="../../../lib/tpl/openwrt/images/button-css.png" width="80" height="15" alt="Valid CSS" /></a>
        <a href="http://dokuwiki.org/" title="Driven by DokuWiki" ><img
            src="../../../lib/tpl/openwrt/images/button-dw.png" width="80" height="15" alt="Driven by DokuWiki" /></a>
    </div>
</div></div><!-- /footer -->

    </div></div><!-- /site -->

    <div class="no"><img src="../../../lib/exe/indexer.php?id=doc%253Atechref%253Abootloader%253Auboot.config&amp;1432266668" width="2" height="1" alt="" /></div>
    <div id="screen__mode" class="no"></div>    <!--[if ( lte IE 7 | IE 8 ) ]></div><![endif]-->
</body>
</html>
