<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>NotUCI Configuration [OpenWrt Wiki]</title>
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <meta name="generator" content="DokuWiki"/>
<meta name="robots" content="index,follow"/>
<meta name="keywords" content="doc,howto,notuci.config"/>
<link rel="search" type="application/opensearchdescription+xml" href="../../lib/exe/opensearch.php" title="OpenWrt Wiki"/>
<link rel="start" href="../../index.html"/>
<link rel="contents" href="notuci.config?do=index" title="Sitemap"/>
<link rel="alternate" type="application/rss+xml" title="Recent changes" href="../../feed.php"/>
<link rel="alternate" type="application/rss+xml" title="Current namespace" href="../../feed.php?mode=list&amp;ns=doc:howto"/>
<link rel="alternate" type="text/html" title="Plain HTML" href="../../_export/xhtml/doc/howto/notuci.config"/>
<link rel="alternate" type="text/plain" title="Wiki Markup" href="../../_export/raw/doc/howto/notuci.config"/>
<link rel="canonical" href="notuci.config"/>
<link rel="stylesheet" type="text/css" href="../../lib/exe/css.php?t=openwrt&amp;tseed=6f44f363dc87908d905dc56ff3acbfc4"/>
<script type="text/javascript">/*<![CDATA[*/var NS='doc:howto';var JSINFO = {"id":"doc:howto:notuci.config","namespace":"doc:howto"};
/*!]]>*/</script>
<script type="text/javascript" charset="utf-8" src="../../lib/exe/js.php?tseed=6f44f363dc87908d905dc56ff3acbfc4"></script>
<script type="text/javascript" charset="utf-8">/*<![CDATA[*/jQuery(function(){
	for ( i=0; i < document.forms.length; i++ ) {
		if (document.forms[i].method == 'post') {
			var myElement = document.createElement('input');
			myElement.setAttribute('type', 'hidden');
			myElement.name = 'bb2_screener_';
			myElement.value = '1432266360 166.182.3.117';
			document.forms[i].appendChild(myElement);
		}
	}
});
/*!]]>*/</script>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="../../lib/tpl/openwrt/images/favicon.ico" />
<link rel="apple-touch-icon" href="../../lib/tpl/openwrt/images/apple-touch-icon.png" />
    </head>

<body>
    <!--[if lte IE 7 ]><div id="IE7"><![endif]--><!--[if IE 8 ]><div id="IE8"><![endif]-->
    <div id="dokuwiki__site"><div id="dokuwiki__top" class="site dokuwiki mode_show tpl_openwrt     ">

        
<!-- ********** HEADER ********** -->
<div id="dokuwiki__header"><div class="pad group">

    
    <div class="headings group">
        <ul class="a11y skip">
            <li><a href="notuci.config#dokuwiki__content">skip to content</a></li>
        </ul>

        <h1><a href="../../start"  accesskey="h" title="[H]"><img src="../../lib/tpl/openwrt/images/logo.png" width="386" height="98" alt="" /> <span>OpenWrt Wiki</span></a></h1>
            </div>

    <div class="tools group">
        <!-- USER TOOLS -->
                    <div id="dokuwiki__usertools">
                <h3 class="a11y">User Tools</h3>
                <ul>
                    <li><a href="notuci.config?do=register"  class="action register" rel="nofollow" title="Register">Register</a></li><li><a href="notuci.config?do=login&amp;sectok=382740b13d95f946eed36caa57076b4a"  class="action login" rel="nofollow" title="Login">Login</a></li>                </ul>
            </div>
        
        <!-- SITE TOOLS -->
        <div id="dokuwiki__sitetools">
            <h3 class="a11y">Site Tools</h3>
            <form action="../../start" accept-charset="utf-8" class="search" id="dw__search" method="get" role="search"><div class="no"><input type="hidden" name="do" value="search" /><input type="text" id="qsearch__in" accesskey="f" name="id" class="edit" title="[F]" /><input type="submit" value="Search" class="button" title="Search" /><div id="qsearch__out" class="ajax_qsearch JSpopup"></div></div></form>            <div class="mobileTools">
                <form action="../../doku.php" method="get" accept-charset="utf-8"><div class="no"><input type="hidden" name="id" value="doc:howto:notuci.config" /><select name="do" class="edit quickselect" title="Tools"><option value="">Tools</option><optgroup label="Page Tools"><option value="edit">Show pagesource</option><option value="revisions">Old revisions</option><option value="backlink">Backlinks</option></optgroup><optgroup label="Site Tools"><option value="recent">Recent changes</option><option value="media">Media Manager</option><option value="index">Sitemap</option></optgroup><optgroup label="User Tools"><option value="login">Login</option><option value="register">Register</option></optgroup></select><input type="submit" value="&gt;" /></div></form>            </div>
            <ul>
                <li><a href="notuci.config?do=recent"  class="action recent" accesskey="r" rel="nofollow" title="Recent changes [R]">Recent changes</a></li><li><a href="notuci.config?do=media&amp;ns=doc%253Ahowto"  class="action media" rel="nofollow" title="Media Manager">Media Manager</a></li><li><a href="notuci.config?do=index"  class="action index" accesskey="x" rel="nofollow" title="Sitemap [X]">Sitemap</a></li>            </ul>
        </div>

    </div>

    <!-- BREADCRUMBS -->
            <div class="breadcrumbs">
                            <div class="youarehere"><span class="bchead">You are here: </span><span class="home"><bdi><a href="../../start" class="wikilink1" title="start">OpenWrt Wiki</a></bdi></span> » <bdi><a href="../start" class="wikilink1" title="doc:start">Documentation</a></bdi> » <bdi><a href="start" class="wikilink1" title="doc:howto:start">HOWTOs</a></bdi> » <bdi><span class="curid"><a href="notuci.config" class="wikilink1" title="doc:howto:notuci.config">NotUCI Configuration</a></span></bdi></div>
                                    <div class="plugin_multilingual">
        <ul>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/cz/doc/howto/notuci.config" class="media" title="cz:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=aff589&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fcz.gif" class="media" title="Čeština (Czech)" alt="Čeština (Czech)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/de/doc/howto/notuci.config" class="media" title="de:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=e24010&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fde.gif" class="media" title="Deutsch (German)" alt="Deutsch (German)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <span class="curid"><a href="notuci.config" class="media" title="doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=2a37ae&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fgb.gif" class="media" title="English" alt="English" /></a></span>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/es/doc/howto/notuci.config" class="media" title="es:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=46c004&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fmx.gif" class="media" title="Español (Spanish, Mexico)" alt="Español (Spanish, Mexico)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/fr/doc/howto/notuci.config" class="media" title="fr:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=a5beba&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Ffr.gif" class="media" title="Français (French)" alt="Français (French)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/hu/doc/howto/notuci.config" class="media" title="hu:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=6b5470&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fhu.gif" class="media" title="Magyar (Hungarian)" alt="Magyar (Hungarian)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/jp/doc/howto/notuci.config" class="media" title="jp:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=f999fc&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fjp.gif" class="media" title="日本語 (Japanese)" alt="日本語 (Japanese)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/pl/doc/howto/notuci.config" class="media" title="pl:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=c805c0&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fpl.gif" class="media" title="Poliski (Polish)" alt="Poliski (Polish)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/pt-br/doc/howto/notuci.config" class="media" title="pt-br:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=13127d&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fbr.gif" class="media" title="Português brasileiro (Portuguese, Brasil)" alt="Português brasileiro (Portuguese, Brasil)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/ru/doc/howto/notuci.config" class="media" title="ru:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=66ab5e&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fru.gif" class="media" title="Русский (Russsian)" alt="Русский (Russsian)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/tr/doc/howto/notuci.config" class="media" title="tr:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=f4beed&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Ftr.gif" class="media" title="Tϋrkçe (Turkish)" alt="Tϋrkçe (Turkish)" /></a>
              </div>
            </div>
          </li>
          <li>
            <div class="li">
              <a href="../../zh-cn/doc/howto/notuci.config" class="media" title="zh-cn:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=93625a&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fzh-cn.gif" class="media" title="官話/官话 (Chinese)" alt="官話/官话 (Chinese)" /></a>
            </div>
          </li>
          <li>
            <div class="li">
              <div class="flag_not_exists">
                <a href="http://wiki.openwrt.org/zh-tw/doc/howto/notuci.config" class="media" title="zh-tw:doc:howto:notuci.config"><img src="../../lib/exe/fetch.php?cache=&amp;tok=b56198&amp;media=http%253A%252F%252Fwiki.openwrt.org%252Flib%252Fplugins%252Fmultilingual%252Fflags%252Fzh-tw.gif" class="media" title="臺灣華語 (Taiwanese)" alt="臺灣華語 (Taiwanese)" /></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
        </div>
    
    
    <hr class="a11y" />
</div></div><!-- /header -->

        <div class="wrapper group">

            
            <!-- ********** CONTENT ********** -->
            <div id="dokuwiki__content"><div class="pad group">

                <div class="pageId"><span>doc:howto:notuci.config</span></div>

                <div class="page group">
                                                            <!-- wikipage start -->
                    <!-- TOC START -->
<div id="dw__toc">
<h3 class="toggle">Table of Contents</h3>
<div>

<ul class="toc">
<li class="level1"><div class="li"><a href="notuci.config#etctz">/etc/TZ</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcbanner">/etc/banner</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etccrontabsroot_cronjob_aka_crontab">/etc/crontabs/root (cronjob aka crontab)</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etciproute2rt_tables">/etc/iproute2/rt_tables</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcdiagsh">/etc/diag.sh</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcdnsmasqconf">/etc/dnsmasq.conf</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcethers">/etc/ethers</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcfirewalluser">/etc/firewall.user</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcfstab">/etc/fstab</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcfunctionssh">/etc/functions.sh</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcfw_envconfig">/etc/fw_env.config</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcgroup">/etc/group</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etchosts">/etc/hosts</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etchostsallow">/etc/hosts.allow</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etchostsdeny">/etc/hosts.deny</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etchotplug2-commonrules">/etc/hotplug2-common.rules</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etchotplug2-initrules">/etc/hotplug2-init.rules</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etchotplug2rules">/etc/hotplug2.rules</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcinitdrcs">/etc/init.d/rcS</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcinittab">/etc/inittab</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcmtab">/etc/mtab</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcntpconf">/etc/ntp.conf</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcopkgconf">/etc/opkg.conf</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcpasswd">/etc/passwd</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcpreinit">/etc/preinit</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcprofile">/etc/profile</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcprotocols">/etc/protocols</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcrccommon">/etc/rc.common</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcrclocal">/etc/rc.local</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcresolvconf">/etc/resolv.conf</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcservices">/etc/services</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcshells">/etc/shells</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcsysctlconf">/etc/sysctl.conf</a></div></li>
<li class="level1"><div class="li"><a href="notuci.config#etcsysupgradeconf">/etc/sysupgrade.conf</a></div></li>
</ul>
</div>
</div>
<!-- TOC END -->

<h1 class="sectionedit1" id="notuci_configuration">NotUCI Configuration</h1>
<div class="level1">

<p>
A lot of stuff can (and therefore should be) configured with <a href="../uci.1" class="wikilink1" title="doc:uci">UCI</a> via any of its interfaces. This page concerns itself with everything built into OpenWrt that cannot be configured with UCI. Note that most third party applications, installed with <a href="../techref/opkg" class="wikilink1" title="doc:techref:opkg">opkg</a> or otherwise, typically also have their own configuration methods. Users experienced with GNU/Linux distribution will know all of this by heart. For beginners this should be useful.
</p>

</div>

<h2 class="sectionedit2" id="etctz">/etc/TZ</h2>
<div class="level2">

<p>
Merely a symlink to <code>TZ → /tmp/TZ</code> which is being created and configured with UCI in <code><a href="../uci/system" class="wikilink1" title="doc:uci:system">/etc/config/system</a></code>
</p>

</div>

<h2 class="sectionedit3" id="etcbanner">/etc/banner</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<td class="col0"> <pre class="code">  _______                     ________        __
 |       |.-----.-----.-----.|  |  |  |.----.|  |_
 |   -   ||  _  |  -__|     ||  |  |  ||   _||   _|
 |_______||   __|_____|__|__||________||__|  |____|
          |__| W I R E L E S S   F R E E D O M
 ATTITUDE ADJUSTMENT (bleeding edge, r26290) ----------
  * 1/4 oz Vodka      Pour all ingredents into mixing
  * 1/4 oz Gin        tin with ice, strain into glass.
  * 1/4 oz Amaretto
  * 1/4 oz Triple sec
  * 1/4 oz Peach schnapps
  * 1/4 oz Sour mix
  * 1 splash Cranberry juice
 -----------------------------------------------------</pre>
 </td>
	</tr>
</table></div>

</div>

<h2 class="sectionedit5" id="etccrontabsroot_cronjob_aka_crontab">/etc/crontabs/root (cronjob aka crontab)</h2>
<div class="level2">

<p>
Start and enable cron:
<pre class="code bash"><span class="kw2">sh</span> <span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>cron start
<span class="kw2">sh</span> <span class="sy0">/</span>etc<span class="sy0">/</span>init.d<span class="sy0">/</span>cron <span class="kw3">enable</span></pre>

You might have to create the spool directory first, depending on openwrt version:
</p>
<pre class="code">mkdir -p /var/spool/cron</pre>

<p>
You can edit the current config with:
<pre class="code bash">crontab <span class="re5">-e</span> </pre>

</p>
<div class="table sectionedit6"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 centeralign">  min    </th><th class="col1 centeralign">  hour  </th><th class="col2"> day/month </th><th class="col3 centeralign">  month  </th><th class="col4"> day/week </th><th class="col5 leftalign"> Description  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 centeralign">   */5   </td><td class="col1 centeralign">    *   </td><td class="col2 centeralign">      *    </td><td class="col3 centeralign">   *    </td><td class="col4 centeralign">   *   </td><td class="col5 leftalign"> every 5 minutes  </td>
	</tr>
	<tr class="row2">
		<td class="col0 centeralign">   12    </td><td class="col1 centeralign">   */3  </td><td class="col2 centeralign">      *    </td><td class="col3 centeralign">   *    </td><td class="col4 centeralign">   *   </td><td class="col5 leftalign"> every 3 hours at 12 minutes  </td>
	</tr>
	<tr class="row3">
		<td class="col0 centeralign">   57    </td><td class="col1 centeralign">   11   </td><td class="col2 centeralign">     15    </td><td class="col3"> 1,6,12 </td><td class="col4 centeralign">   *   </td><td class="col5 leftalign"> At 11:57 Hrs  on 15th of Jan, June &amp; Dec.  </td>
	</tr>
	<tr class="row4">
		<td class="col0 centeralign">   25    </td><td class="col1 centeralign">    6   </td><td class="col2 centeralign">      *    </td><td class="col3 centeralign">    *   </td><td class="col4 centeralign">  1-5  </td><td class="col5 leftalign"> At 6:25 AM every weekday (Mon-Fri)  </td>
	</tr>
	<tr class="row5">
		<td class="col0 centeralign">   0     </td><td class="col1 centeralign">    0   </td><td class="col2 centeralign">  4,12,26  </td><td class="col3 centeralign">    *   </td><td class="col4 centeralign">   *   </td><td class="col5 leftalign"> At midnight on 4th, 12th and 26th of every month  </td>
	</tr>
	<tr class="row6">
		<td class="col0 centeralign">  5,10   </td><td class="col1 centeralign">  9,14  </td><td class="col2 centeralign">    10     </td><td class="col3 centeralign">    *   </td><td class="col4 centeralign">  1,4  </td><td class="col5 leftalign"> At 9:05AM, 9:10AM, 2:05PM and 2:10PM every Monday and Thursday  </td>
	</tr>
</table></div>

<p>
If you have <a href="http://en.wikipedia.org/wiki/Daylight saving time" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/Daylight saving time">Daylight saving time</a> you could write yourself a nice alarm clock <img src="../../lib/images/smileys/icon_wink.gif" class="icon" alt=";-)" />
When DST starts in central Europe, clocks advance from 02:00 CET to 03:00 CEST on last Sunday in March.
Six day before that, you could make your WOL wake you 10 minutes earlier. Later won&#039;t work, you&#039;ll be late <img src="../../lib/images/smileys/icon_wink.gif" class="icon" alt=";-)" />
When DST ends in central Europe, clocks retreat from 03:00 CEST to 02:00 CET on last Sunday in October.
</p>

<p>
<pre class="code bash"><span class="co0">#min hour day month dayofweek command</span>
<span class="nu0">59</span> 05 <span class="sy0">*</span> <span class="sy0">*</span> <span class="nu0">1</span> <span class="sy0">/</span>usr<span class="sy0">/</span>bin<span class="sy0">/</span>wol <span class="re5">-h</span> 192.168.1.255 xx:xx:xx:xx:xx:xx <span class="co0"># Mo</span>
<span class="co0">#crontab must (as fstab) end with the last line as space or a comment</span></pre>

</p>
<ul>
<li class="level1"><div class="li"> <a href="http://linux.die.net/man/5/crontab" class="urlextern" title="http://linux.die.net/man/5/crontab"  rel="nofollow">crontab manpage</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://adminschoice.com/crontab-quick-reference" class="urlextern" title="http://adminschoice.com/crontab-quick-reference"  rel="nofollow">http://adminschoice.com/crontab-quick-reference</a></div>
</li>
<li class="level1"><div class="li"> see <a href="http://www.busybox.net/downloads/BusyBox.html" class="urlextern" title="http://www.busybox.net/downloads/BusyBox.html"  rel="nofollow">http://www.busybox.net/downloads/BusyBox.html</a> for options</div>
</li>
</ul>

<p>
<strong><code>Note1:</code></strong> On many platforms <code>shutdown</code> does not work; it will just halt the CPU but it won&#039;t power off the device. There is usually no programmable circuitry to actually power off the unit. <code>reboot</code> does work, in case you should want to reboot the router periodically.
</p>

<p>
<strong><code>Note2:</code></strong> Regarding <code>reboot</code> via cron:  The router has usually no real-time clock. In the boot process the clock is initially set by <code>sysfixtime</code> to the most recent timestamp of any file found in /etc. The most recent file is possibly a status file or config file, modified maybe 30 seconds before the reboot initiated by cron. So, in the boot process the clock gets set backwards a few seconds to that file&#039;s timestamp. Then cron starts and notices a few seconds later that the required boot moment has again arrived and reboots again… (At the end of the boot process ntpd starts, and it may also take a while before ntpd gets and sets the correct time, so cron may start the reboot in between.) One solution for cron is to use a delay and touch a file in /etc before reboot:
<pre class="code"># Reboot at 4:30am every day
# Note: To avoid infinite reboot loop, wait 70 seconds
# and touch a file in /etc so clock will be set
# properly to 4:31 on reboot before cron starts.
30 4 * * * sleep 70 &amp;&amp; touch /etc/banner &amp;&amp; reboot</pre>

</p>

</div>

<h2 class="sectionedit7" id="etciproute2rt_tables">/etc/iproute2/rt_tables</h2>
<div class="level2">

<p>
This is the configuration file for the routing. See <a href="http://linux.die.net/man/8/ip" class="urlextern" title="http://linux.die.net/man/8/ip"  rel="nofollow">man ip</a> and <a href="http://en.wikipedia.org/wiki/iproute2" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/iproute2">iproute2</a>.
<pre class="code">#
# reserved values
#
255     local
254     main
253     default
0       unspec
#
# local
#
#1      inr.ruhep</pre>

</p>

</div>

<h2 class="sectionedit8" id="etcdiagsh">/etc/diag.sh</h2>
<div class="level2">

</div>

<h2 class="sectionedit9" id="etcdnsmasqconf">/etc/dnsmasq.conf</h2>
<div class="level2">

<p>
→<a href="dhcp.dnsmasq#configuration" class="wikilink1" title="doc:howto:dhcp.dnsmasq">Configuration</a>
</p>

</div>

<h2 class="sectionedit10" id="etcethers">/etc/ethers</h2>
<div class="level2">

<p>
→<a href="dhcp.dnsmasq#configuration" class="wikilink1" title="doc:howto:dhcp.dnsmasq">Configuration</a>
</p>

</div>

<h2 class="sectionedit11" id="etcfirewalluser">/etc/firewall.user</h2>
<div class="level2">

<p>
Is being called by <code><a href="../uci/firewall" class="wikilink1" title="doc:uci:firewall">/etc/config/firewall</a></code>. Both files are not executed when booting into <a href="generic.failsafe" class="wikilink1" title="doc:howto:generic.failsafe">failsafe mode</a>. You can populate this file with help of <a href="netfilter#configuration" class="wikilink1" title="doc:howto:netfilter">netfilter</a>-article.
</p>

</div>

<h2 class="sectionedit12" id="etcfstab">/etc/fstab</h2>
<div class="level2">

<p>
Merely a <a href="http://en.wikipedia.org/wiki/Symlink#POSIX_and_Unix-like_operating_systems" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/Symlink#POSIX_and_Unix-like_operating_systems">symlink</a> to <code>fstab → /tmp/fstab</code> which is being created and configured by UCI in <code><a href="../uci/fstab" class="wikilink1" title="doc:uci:fstab">/etc/config/fstab</a></code>
</p>

<p>
<a href="http://linux.die.net/man/5/fstab" class="urlextern" title="http://linux.die.net/man/5/fstab"  rel="nofollow">manpage fstab</a>, <a href="http://en.wikipedia.org/wiki/fstab" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/fstab">fstab</a>
</p>

</div>

<h2 class="sectionedit13" id="etcfunctionssh">/etc/functions.sh</h2>
<div class="level2">

<p>
<code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/functions.sh" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/functions.sh"  rel="nofollow">/etc/functions.sh</a></code> does stuff <img src="../../lib/images/smileys/fixme.gif" class="icon" alt="FIXME" />
</p>

</div>

<h2 class="sectionedit14" id="etcfw_envconfig">/etc/fw_env.config</h2>
<div class="level2">

<p>
→ <a href="../techref/bootloader/uboot.config" class="wikilink1" title="doc:techref:bootloader:uboot.config">uboot.config</a>
</p>

</div>

<h2 class="sectionedit15" id="etcgroup">/etc/group</h2>
<div class="level2">

<p>
<code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/group" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/group"  rel="nofollow">/etc/group</a></code> is an <abbr title="American Standard Code for Information Interchange">ASCII</abbr> file which defines the groups to which users belong to. See <a href="http://linux.die.net/man/5/group" class="urlextern" title="http://linux.die.net/man/5/group"  rel="nofollow">man group</a>
</p>

</div>

<h2 class="sectionedit16" id="etchosts">/etc/hosts</h2>
<div class="level2">

<p>
On top of IP addresses we use hostnames to refer to devices in the network. As there are FQDN, so are internal hostnames. Edit the file <code>/etc/hosts</code>:
</p>

<p>
<pre class="code">192.168.1.1    openwrt  openwrt.
192.168.1.1    name1  name1.
192.168.1.1    name2  name2.
192.168.1.2    user1  user1.
192.168.1.254  dockstar  dockstar.</pre>

</p>

<p>
After rebooting you can address your network devices not only by their IPs, but by their names. e.g. [http://openwrt.lan] or [smb://dockstar.lan] etc.
</p>

<p>
The UCI method for setting the hostname of the OpenWrt system itself is via <code><a href="../uci/system" class="wikilink1" title="doc:uci:system">/etc/config/system</a></code>:
</p>

<p>
<pre class="code">  config system
  	option hostname	lila</pre>

</p>

</div>

<h2 class="sectionedit17" id="etchostsallow">/etc/hosts.allow</h2>
<div class="level2">

<p>
<a href="http://linux.die.net/man/5/hosts.allow" class="urlextern" title="http://linux.die.net/man/5/hosts.allow"  rel="nofollow">man hosts.allow</a> or <a href="http://man.cx/hosts.allow" class="interwiki iw_man" title="http://man.cx/hosts.allow">hosts.allow</a>
</p>

</div>

<h2 class="sectionedit18" id="etchostsdeny">/etc/hosts.deny</h2>
<div class="level2">

<p>
<a href="http://linux.die.net/man/5/hosts.deny" class="urlextern" title="http://linux.die.net/man/5/hosts.deny"  rel="nofollow">man hosts.deny</a> or <a href="http://man.cx/hosts.deny" class="interwiki iw_man" title="http://man.cx/hosts.deny">hosts.deny</a>
</p>

</div>

<h2 class="sectionedit19" id="etchotplug2-commonrules">/etc/hotplug2-common.rules</h2>
<div class="level2">

</div>

<h2 class="sectionedit20" id="etchotplug2-initrules">/etc/hotplug2-init.rules</h2>
<div class="level2">

</div>

<h2 class="sectionedit21" id="etchotplug2rules">/etc/hotplug2.rules</h2>
<div class="level2">

</div>

<h2 class="sectionedit22" id="etcinitdrcs">/etc/init.d/rcS</h2>
<div class="level2">

<p>
This get&#039;s executed by <code>init</code> every boot: <a href="../techref/process.boot#init" class="wikilink1" title="doc:techref:process.boot">init</a>
<pre class="code">#!/bin/sh
# Copyright (C) 2006 OpenWrt.org

run_scripts() {
        for i in /etc/rc.d/$1*; do
                [ -x $i ] &amp;&amp; $i $2 2&gt;&amp;1
        done | $LOGGER
}

system_config() {
        config_get_bool foreground $1 foreground 0
}

LOGGER=&quot;cat&quot;
[ -x /usr/bin/logger ] &amp;&amp; LOGGER=&quot;logger -s -p 6 -t sysinit&quot;

. /etc/functions.sh

config_load system
config_foreach system_config system

if [ &quot;$1&quot; = &quot;S&quot; -a &quot;$foreground&quot; != &quot;1&quot; ]; then
        run_scripts &quot;$1&quot; &quot;$2&quot; &amp;
else
        run_scripts &quot;$1&quot; &quot;$2&quot;
fi</pre>

</p>

</div>

<h2 class="sectionedit23" id="etcinittab">/etc/inittab</h2>
<div class="level2">

<p>
<del><a href="http://linux.die.net/man/5/inittab" class="urlextern" title="http://linux.die.net/man/5/inittab"  rel="nofollow">http://linux.die.net/man/5/inittab</a></del>
<a href="http://git.busybox.net/busybox/tree/examples/inittab" class="urlextern" title="http://git.busybox.net/busybox/tree/examples/inittab"  rel="nofollow">http://git.busybox.net/busybox/tree/examples/inittab</a> «== This is it.
<pre class="code">::sysinit:/etc/init.d/rcS S boot
::shutdown:/etc/init.d/rcS K shutdown
tts/0::askfirst:/bin/ash --login
ttyS0::askfirst:/bin/ash --login
tty1::askfirst:/bin/ash --login</pre>

</p>

</div>

<h2 class="sectionedit24" id="etcmtab">/etc/mtab</h2>
<div class="level2">

<p>
<a href="http://en.wikipedia.org/wiki/mtab" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/mtab">mtab</a>, → <a href="../techref/filesystems" class="wikilink1" title="doc:techref:filesystems">filesystems</a>, →<a href="../techref/flash.layout" class="wikilink1" title="doc:techref:flash.layout">flash.layout</a>, <a href="http://en.wikipedia.org/wiki/procfs" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/procfs">procfs</a>, <a href="http://en.wikipedia.org/wiki/sysfs" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/sysfs">sysfs</a>, <a href="http://en.wikipedia.org/wiki/devpts" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/devpts">devpts</a>
</p>

<p>
<pre class="code">rootfs / rootfs rw 0 0
/dev/root /rom squashfs ro,relatime 0 0
proc /proc proc rw,noatime 0 0
sysfs /sys sysfs rw,noatime 0 0
tmpfs /tmp tmpfs rw,nosuid,nodev,noatime 0 0
tmpfs /dev tmpfs rw,noatime,size=512k,mode=755 0 0
devpts /dev/pts devpts rw,noatime,mode=600 0 0
/dev/mtdblock3 /overlay jffs2 rw,noatime 0 0
overlayfs:/overlay / overlayfs rw,noatime 0 0
debugfs /sys/kernel/debug debugfs rw,relatime 0 0
none /proc/bus/usb usbfs rw,relatime 0 0</pre>

</p>

</div>

<h2 class="sectionedit25" id="etcntpconf">/etc/ntp.conf</h2>
<div class="level2">

</div>

<h2 class="sectionedit26" id="etcopkgconf">/etc/opkg.conf</h2>
<div class="level2">

<p>
→<a href="../techref/opkg" class="wikilink1" title="doc:techref:opkg">opkg</a>
</p>

</div>

<h2 class="sectionedit27" id="etcpasswd">/etc/passwd</h2>
<div class="level2">

<p>
→ <a href="http://linux.die.net/man/5/passwd" class="urlextern" title="http://linux.die.net/man/5/passwd"  rel="nofollow">manpage passwd</a>
</p>

</div>

<h2 class="sectionedit28" id="etcpreinit">/etc/preinit</h2>
<div class="level2">

<p>
In OpenWrt the Kernel is executed by the <a href="../techref/bootloader.1" class="wikilink1" title="doc:techref:bootloader">bootloader</a> with the option <code>init=/etc/preinit</code> (instead of the usual <code>init=/sbin/init</code>). So the Kernel executes <code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/preinit" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/preinit"  rel="nofollow">/etc/preinit</a></code> which itself calls upon:
</p>
<ul>
<li class="level1"><div class="li"> <code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/functions.sh" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/functions.sh"  rel="nofollow">/etc/functions.sh</a></code></div>
</li>
<li class="level1"><div class="li"> <code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/lib/functions/boot.sh" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/lib/functions/boot.sh"  rel="nofollow">lib/functions/boot.sh</a></code></div>
</li>
</ul>

<p>
→ <a href="../techref/process.boot" class="wikilink1" title="doc:techref:process.boot">process.boot</a> should bring some clarity into this matter
</p>

<p>
<pre class="code">#!/bin/sh

export PATH=/bin:/sbin:/usr/bin:/usr/sbin
. /etc/diag.sh

pi_ifname=
pi_ip=192.168.1.1
pi_broadcast=192.168.1.255
pi_netmask=255.255.255.0

fs_failsafe_ifname=
fs_failsafe_ip=192.168.1.1
fs_failsafe_broadcast=192.168.1.255
fs_failsafe_netmask=255.255.255.0

fs_failsafe_wait_timeout=2

pi_suppress_stderr=&quot;y&quot;
pi_init_suppress_stderr=&quot;y&quot;
pi_init_path=&quot;/bin:/sbin:/usr/bin:/usr/sbin&quot;
pi_init_cmd=&quot;/sbin/init&quot;

. /etc/functions.sh
. /lib/functions/boot.sh

boot_hook_init preinit_essential
boot_hook_init preinit_main
boot_hook_init failsafe
boot_hook_init initramfs
boot_hook_init preinit_mount_root

for pi_source_file in /lib/preinit/*; do
    . $pi_source_file
done

boot_run_hook preinit_essential

pi_mount_skip_next=false
pi_jffs2_mount_success=false
pi_failsafe_net_message=false

boot_run_hook preinit_main</pre>

</p>

</div>

<h2 class="sectionedit29" id="etcprofile">/etc/profile</h2>
<div class="level2">

<p>
<pre class="code bash"><span class="co0">#!/bin/sh</span>
<span class="br0">&#91;</span> <span class="re5">-f</span> <span class="sy0">/</span>etc<span class="sy0">/</span>banner <span class="br0">&#93;</span> <span class="sy0">&amp;&amp;</span> <span class="kw2">cat</span> <span class="sy0">/</span>etc<span class="sy0">/</span>banner
&nbsp;
<span class="kw3">export</span> <span class="re2">PATH</span>=<span class="sy0">/</span>bin:<span class="sy0">/</span>sbin:<span class="sy0">/</span>usr<span class="sy0">/</span>bin:<span class="sy0">/</span>usr<span class="sy0">/</span>sbin
<span class="kw3">export</span> <span class="re2">HOME</span>=$<span class="br0">&#40;</span><span class="kw2">grep</span> <span class="re5">-e</span> <span class="st0">&quot;^<span class="es3">${USER:-root}</span>:&quot;</span> <span class="sy0">/</span>etc<span class="sy0">/</span><span class="kw2">passwd</span> <span class="sy0">|</span> <span class="kw2">cut</span> <span class="re5">-d</span> <span class="st0">&quot;:&quot;</span> <span class="re5">-f</span> <span class="nu0">6</span><span class="br0">&#41;</span>
<span class="kw3">export</span> <span class="re2">HOME</span>=<span class="co1">${HOME:-/root}</span>
<span class="kw3">export</span> <span class="re2">PS1</span>=<span class="st0">&quot;\[\033[4;44;1;35m\]\u@\h:\w$\[\033[0m\] &quot;</span>
&nbsp;
<span class="br0">&#91;</span> <span class="re5">-x</span> <span class="sy0">/</span>bin<span class="sy0">/</span><span class="kw2">more</span> <span class="br0">&#93;</span> <span class="sy0">||</span> <span class="kw3">alias</span> <span class="re2">more</span>=<span class="kw2">less</span>
<span class="br0">&#91;</span> <span class="re5">-x</span> <span class="sy0">/</span>usr<span class="sy0">/</span>bin<span class="sy0">/</span><span class="kw2">vim</span> <span class="br0">&#93;</span> <span class="sy0">&amp;&amp;</span> <span class="kw3">alias</span> <span class="re2">vi</span>=<span class="kw2">vim</span> <span class="sy0">||</span> <span class="kw3">alias</span> <span class="re2">vim</span>=<span class="kw2">vi</span>
&nbsp;
<span class="br0">&#91;</span> <span class="re5">-z</span> <span class="st0">&quot;<span class="es2">$KSH_VERSION</span>&quot;</span> <span class="re5">-o</span> \<span class="sy0">!</span> <span class="re5">-s</span> <span class="sy0">/</span>etc<span class="sy0">/</span>mkshrc <span class="br0">&#93;</span> <span class="sy0">||</span> . <span class="sy0">/</span>etc<span class="sy0">/</span>mkshrc
&nbsp;
<span class="br0">&#91;</span> <span class="re5">-x</span> <span class="sy0">/</span>sbin<span class="sy0">/</span>arp <span class="br0">&#93;</span> <span class="sy0">||</span> arp<span class="br0">&#40;</span><span class="br0">&#41;</span> <span class="br0">&#123;</span> <span class="kw2">cat</span> <span class="sy0">/</span>proc<span class="sy0">/</span>net<span class="sy0">/</span>arp; <span class="br0">&#125;</span>
<span class="br0">&#91;</span> <span class="re5">-z</span> <span class="sy0">/</span>bin<span class="sy0">/</span><span class="kw2">ldd</span> <span class="br0">&#93;</span> <span class="sy0">||</span> <span class="kw2">ldd</span><span class="br0">&#40;</span><span class="br0">&#41;</span> <span class="br0">&#123;</span> <span class="re2">LD_TRACE_LOADED_OBJECTS</span>=<span class="nu0">1</span> <span class="re4">$*</span>; <span class="br0">&#125;</span></pre>

</p>

</div>

<h2 class="sectionedit30" id="etcprotocols">/etc/protocols</h2>
<div class="level2">

<p>
<a href="http://man.cx/protocols" class="interwiki iw_man" title="http://man.cx/protocols">protocols</a> <code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/protocols" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/protocols"  rel="nofollow">/etc/protocols</a></code>
</p>

</div>

<h2 class="sectionedit31" id="etcrccommon">/etc/rc.common</h2>
<div class="level2">

<p>
<code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/rc.common" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/rc.common"  rel="nofollow">/etc/rc.common</a></code>
</p>

<p>
Part of the <a href="http://en.wikipedia.org/wiki/Shebang (Unix)" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/Shebang (Unix)">Shebang (Unix)</a> of many shell scripts in <code>/etc/init.d</code>. It checks the start scripts for mistakes. E.g. since <a href="https://dev.openwrt.org/changeset/27797" class="urlextern" title="https://dev.openwrt.org/changeset/27797"  rel="nofollow">R27797</a> it checks whether <em>&quot;start&quot;</em> and <em>&quot;stop&quot;</em> are defined.
</p>

</div>

<h2 class="sectionedit32" id="etcrclocal">/etc/rc.local</h2>
<div class="level2">

<p>
This file gets executed by <code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/init.d/done" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/init.d/done"  rel="nofollow">/etc/rc.d/S95done</a></code> on every boot up. You should treat this file as a shell script.
</p>

<p>
<pre class="code"># Put your custom commands here that should be executed once
# the system init finished. By default this file does nothing.

exit 0</pre>

</p>

</div>

<h2 class="sectionedit33" id="etcresolvconf">/etc/resolv.conf</h2>
<div class="level2">

<p>
A symlink to <code>resolv.conf → /tmp/resolv.conf</code>
</p>

<p>
<a href="http://linux.die.net/man/5/resolv.conf" class="urlextern" title="http://linux.die.net/man/5/resolv.conf"  rel="nofollow">man resolv.conf</a>
</p>

</div>

<h2 class="sectionedit34" id="etcservices">/etc/services</h2>
<div class="level2">

<p>
<a href="http://man.cx/services" class="interwiki iw_man" title="http://man.cx/services">services</a>
</p>

</div>

<h2 class="sectionedit35" id="etcshells">/etc/shells</h2>
<div class="level2">

<p>
<a href="http://man.cx/shells" class="interwiki iw_man" title="http://man.cx/shells">shells</a>
</p>

</div>

<h2 class="sectionedit36" id="etcsysctlconf">/etc/sysctl.conf</h2>
<div class="level2">

<p>
<code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/sysctl.conf" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/sysctl.conf"  rel="nofollow">/etc/sysctl.conf</a></code> gets called every boot up by <code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/init.d/sysctl" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/etc/init.d/sysctl"  rel="nofollow">/etc/rc.d/S99sysctl</a></code>
→<a href="http://linux.die.net/man/5/sysctl.conf" class="urlextern" title="http://linux.die.net/man/5/sysctl.conf"  rel="nofollow">manpage sysctl.conf</a><br/>

→<a href="http://www.frozentux.net/ipsysctl-tutorial/ipsysctl-tutorial.html" class="urlextern" title="http://www.frozentux.net/ipsysctl-tutorial/ipsysctl-tutorial.html"  rel="nofollow">http://www.frozentux.net/ipsysctl-tutorial/ipsysctl-tutorial.html</a> for Kernel 2.4!<br/>

</p>

<p>
<pre class="code">kernel.panic=3
net.ipv4.conf.default.arp_ignore=1
net.ipv4.conf.all.arp_ignore=1
net.ipv4.ip_forward=1
net.ipv4.icmp_echo_ignore_broadcasts=1
net.ipv4.icmp_ignore_bogus_error_responses=1
net.ipv4.tcp_ecn=0
net.ipv4.tcp_fin_timeout=30
net.ipv4.tcp_keepalive_time=120
net.ipv4.tcp_syncookies=1
net.ipv4.tcp_timestamps=0
net.core.netdev_max_backlog=30
net.netfilter.nf_conntrack_checksum=0
net.ipv4.netfilter.ip_conntrack_checksum=0
net.ipv4.netfilter.ip_conntrack_max=16384
net.ipv4.netfilter.ip_conntrack_tcp_timeout_established=3600
net.ipv4.netfilter.ip_conntrack_udp_timeout=60
net.ipv4.netfilter.ip_conntrack_udp_timeout_stream=180
net.ipv6.conf.all.forwarding=1

# disable bridge firewalling by default
net.bridge.bridge-nf-call-arptables=0
net.bridge.bridge-nf-call-ip6tables=0
net.bridge.bridge-nf-call-iptables=0</pre>

</p>

</div>

<h2 class="sectionedit37" id="etcsysupgradeconf">/etc/sysupgrade.conf</h2>
<div class="level2">

<p>
→ <a href="generic.sysupgrade" class="wikilink1" title="doc:howto:generic.sysupgrade">generic.sysupgrade</a>
<pre class="code">## This file contains files and directories that should
## be preserved during an upgrade.

# /etc/example.conf
# /etc/openvpn/
/etc/config
/etc/profile
/etc/firewall.user
/etc/TC_hfsc.sh
/etc/hotplug.d/iface/30-trafficc
/etc/init.d/trafficc
/root
/etc/crontabs/root</pre>

Files listed by &quot;opkg list-changed-conffiles&quot; and files listed in /lib/upgrade/keep.d/* (eg. <code><a href="https://dev.openwrt.org/browser/trunk/package/base-files/files/lib/upgrade/keep.d/base-files-essential" class="urlextern" title="https://dev.openwrt.org/browser/trunk/package/base-files/files/lib/upgrade/keep.d/base-files-essential"  rel="nofollow">base-file-essential</a></code>) will be always kept.
</p>

</div>

                    <!-- wikipage stop -->
                                    </div>

                <div class="docInfo"><bdi>doc/howto/notuci.config.txt</bdi> · Last modified: 2015/03/29 11:36 by <bdi>jessemonroy650</bdi></div>

                            </div></div><!-- /content -->

            <hr class="a11y" />

            <!-- PAGE ACTIONS -->
            <div id="dokuwiki__pagetools">
                <h3 class="a11y">Page Tools</h3>
                <div class="tools">
                    <ul>
                        <li><a href="notuci.config?do=edit"  class="action source" accesskey="v" rel="nofollow" title="Show pagesource [V]"><span>Show pagesource</span></a></li><li><a href="notuci.config?do=revisions"  class="action revs" accesskey="o" rel="nofollow" title="Old revisions [O]"><span>Old revisions</span></a></li><li><a href="notuci.config?do=backlink"  class="action backlink" rel="nofollow" title="Backlinks"><span>Backlinks</span></a></li><li><a href="notuci.config#dokuwiki__top"  class="action top" accesskey="t" rel="nofollow" title="Back to top [T]"><span>Back to top</span></a></li>                    </ul>
                </div>
            </div>
        </div><!-- /wrapper -->

        
<!-- ********** FOOTER ********** -->
<div id="dokuwiki__footer"><div class="pad">
    <div class="license">Except where otherwise noted, content on this wiki is licensed under the following license: <bdi><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license" class="urlextern">CC Attribution-Noncommercial-Share Alike 3.0 Unported</a></bdi></div>
    <div class="buttons">
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license"><img src="../../lib/images/license/button/cc-by-nc-sa.png" alt="CC Attribution-Noncommercial-Share Alike 3.0 Unported" /></a>        <a href="http://www.dokuwiki.org/donate" title="Donate" ><img
            src="../../lib/tpl/openwrt/images/button-donate.gif" width="80" height="15" alt="Donate" /></a>
        <a href="http://www.php.net" title="Powered by PHP" ><img
            src="../../lib/tpl/openwrt/images/button-php.gif" width="80" height="15" alt="Powered by PHP" /></a>
        <a href="http://validator.w3.org/check/referer" title="Valid HTML5" ><img
            src="../../lib/tpl/openwrt/images/button-html5.png" width="80" height="15" alt="Valid HTML5" /></a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3" title="Valid CSS" ><img
            src="../../lib/tpl/openwrt/images/button-css.png" width="80" height="15" alt="Valid CSS" /></a>
        <a href="http://dokuwiki.org/" title="Driven by DokuWiki" ><img
            src="../../lib/tpl/openwrt/images/button-dw.png" width="80" height="15" alt="Driven by DokuWiki" /></a>
    </div>
</div></div><!-- /footer -->

    </div></div><!-- /site -->

    <div class="no"><img src="../../lib/exe/indexer.php?id=doc%253Ahowto%253Anotuci.config&amp;1432266360" width="2" height="1" alt="" /></div>
    <div id="screen__mode" class="no"></div>    <!--[if ( lte IE 7 | IE 8 ) ]></div><![endif]-->
</body>
</html>
